.container
{
background-color:#cf7dcf;
color: #FFF;
font-weight: bolder;
}

.btn
{
  color: #FFF;
  font-weight: bolder;
  background-color:#ba45ba;
}
.btn:hover
{
  color: #FFF;
  font-weight: bolder;
  background-color:#953795;
}

label
{
  margin-right: 5px;
}

.bg{
background-color: #6666ff;
padding-top: 10px;
padding-bottom:10px;
}

.bg2{
background-color: #003566;
border-bottom: #f2f2f2 1px solid;
}

.bg2:hover{
background-color: #6666ff;
border-bottom: #f2f2f2 1px solid;

}

.backy
{
  background-color: #FFF;
  padding-bottom: 30px;
  padding-top: 30px;
}
.submit
{
  margin-left: 15px;
  font-weight: bolder;
  background-color:#668cff;
}
.submit:hover
{
    background-color:#4d79ff;
}

.formularik
{
  width:150px;
  margin-left: 5px;
}

.nothere
{
  width: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.maz
{
  color:#FFF;
  background-color: red;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.maz:hover
{
  color:#000;
  background-color: red;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.upd
{
  color:#FFF;
  background-color:rgb(123, 227, 70);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.upd:hover
{
  color:#000;
  background-color:rgb(123, 227, 70);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
